<%
# subs can be %STORE%, %SECTION%, %CRUMBS% and %PAGE%.
myTitle = @taxon.name + " at " + store_name
if (section_title && (section_title.length > 0))
    myTitle = section_title
    myTitle.sub!("%STORE%",store_name)
    myTitle.sub!("%SECTION%",@taxon.name)
    myTitle.sub!("%CRUMBS%","")
    myTitle.sub!("%PAGE%","")
end
%>
<% content_for :title do %>
    <title><%= myTitle %></title>
<% end %>
<h1><%= @taxon.name %></h1>

<% if @taxon.children.empty? %>
  <%= render :partial => "shared/products.html.erb", :locals => {:products => @products, :taxon => @taxon } %>
  <%= page_links(:prev => "&#171; #{t('previous')}", :next => "#{t('next')} &#187;") if @search.page_count > 1 %>
<% else %>
  <%= render :partial => "taxon", :collection => @taxon.children %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => "shared/taxonomies" %>
<% end %>
