<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t('general_settings') %></h1>

<% form_tag(admin_general_settings_path, :method => :put) do -%>

  <p>
	<label><%= t("site_name") %></label>
	<%= text_field_tag('preferences[site_name]', Spree::Config[:site_name]) %>
  </p>
  <p>
	<label><%= t('site_url') %></label>
	<%= text_field_tag('preferences[site_url]', Spree::Config[:site_url])%>
  </p>	
  <p>
	<label><%= t('store_name') %></label>
        <%= text_field_tag('preferences[store_name]', Spree::Config[:store_name])%><br/>
        <small>Is used to supply __STORE__ to other titles</small
 </p>	
  <p>
	<label><%= t('store_title') %></label>
        <%= text_field_tag('preferences[store_title]', Spree::Config[:store_title])%><br/>
        <small>Can use __STORE__ to supply store name</small>
 </p>	
  <p>
	<label><%= t('product_title') %></label>
        <%= text_field_tag('preferences[product_title]', Spree::Config[:product_title])%><br />
        <small>Can use __STORE__ to supply store name and __PRODUCT__ for product name.</small>
</p>
  <p>
	<label><%= t('section_title') %></label>
        <%= text_field_tag('preferences[section_title]', Spree::Config[:section_title])%><br/>
        <small>Can use __STORE__ for store name and __SECTION__ for section name.</small>
</p>





  <p>
    <label>
	  <input name="preferences[allow_ssl_in_production]" type="hidden" value="0" />
      <%= check_box_tag('preferences[allow_ssl_in_production]', "1", Spree::Config[:allow_ssl_in_production]) %>
      <%= t('allow_ssl_to_be_used_when_in_production_mode') %>
    </label>
  </p>

  <p>
    <label>
	  <input name="preferences[allow_ssl_in_development_and_test]" type="hidden" value="0" />	
      <%= check_box_tag('preferences[allow_ssl_in_development_and_test]', "1", Spree::Config[:allow_ssl_in_development_and_test]) %>
      <%= t('allow_ssl_to_be_used_when_in_developement_and_test_modes') %>
    </label>
  </p>

  <p class="form-buttons">
    <%= button t('update') %> 
    or <%= link_to t("cancel"), admin_general_settings_url %>
  </p>
<% end -%>
