<%
myTitle = ""
if store_name
	myTitle = @product.name + " at " + store_name
    if (product_title && (product_title.length > 0))
	  myTitle = product_title
	  myTitle.sub!('%PRODUCT%',@product.name)
	  myTitle.sub!('%STORE%',store_name)
	end
end
%>
<% content_for :title do %>
    <title><%= myTitle  %></title>  
<% end %>

<% @body_id = 'product-details' %>

<h1><%= @product.name %></h1>

<div id="product-images">
  <div id="main-image">
		<%= render 'image' -%>
  </div>
  <div id="thumbnails">
    <%= render 'thumbnails', :product => @product -%>
  </div>
</div>

<div id="product-description">
  <%= product_description(@product) %>

  <%= render 'properties' %>
</div>

<div id="cart-form">

<%= render 'cart_form' %>

</div>
